In [1]:
#Question 1
# The following is a list of 10 students ages:
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the list and find the min and max age
# Add the min age and the max age again to the list
# Find the median age (one middle item or two middle items divided by two)
# Find the average age (sum of all items divided by their number)
# Find the range of the ages (max minus min)

ages =  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] ##creating a list

ages.sort() #sorting
print("sorted list = ", ages)

sorted list =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [2]:
print(f"max age:{max(ages)}, min age:{min(ages)}") #min and max age
ages.extend([min(ages),max(ages)]) #adding min and max ages
print(f"added list: {ages}") # list after addition

max age:26, min age:19
added list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [59]:
L = len(ages)
L

12

In [58]:

A = int(L/2 -1) #A be the predecessor to the mid value in a list because list Index starts at 0
B = int(L/2) #B be the mid value in a list at Index 6
Median = (ages[A]+ages[B])/2
Median

24.0

In [4]:
average = sum(ages)/len(ages)
print("average age is: ",average)

average age is:  22.75

In [5]:
range = max(ages) - min(ages) # range 
print("Range of the ages: ", range)

Range of the ages:  7

In [6]:
#Question 2
# Create an empty dictionary called dog
# Add name, color, breed, legs, age to the dog dictionary
# Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
# Get the length of the student dictionary
# Get the value of skills and check the data type, it should be a list
# Modify the skills values by adding one or two skills
# Get the dictionary keys as a list
# Get the dictionary values as a list

dog = {} #creating empty dictionary

In [7]:
#adding name,colour,breed,legs,age to dictionary
dog={"name":"Cashew", "color":"brown", "breed":"shih tzu", "legs":4, "age":3}
dog

{'name': 'Cashew', 'color': 'brown', 'breed': 'shih tzu', 'legs': 4, 'age': 3}

In [8]:
#student Dictionary
student= {} 
student= {"first_name":"Varshitha","last_name":"Vadapally","gender":"female","age":22,"martial status":"single",
           "skills":['Quick learner'],"country":"India","city":"Nalgonda","address":"VT Colony"} #adding key values
student

{'first_name': 'Varshitha',
 'last_name': 'Vadapally',
 'gender': 'female',
 'age': 22,
 'martial status': 'single',
 'skills': ['Quick learner'],
 'country': 'India',
 'city': 'Nalgonda',
 'address': 'VT Colony'}

In [9]:
print(student['skills'])
print(type(student['skills']))         #values in skills and type of date

['Quick learner']
<class 'list'>

In [10]:
#modifying skills
student['skills'].extend(['Positive Thinking','hardworking', 'Time management']) 
print(student['skills'])

['Quick learner', 'Positive Thinking', 'hardworking', 'Time management']

In [11]:
print(f"keys of student dictionary:{student.keys()}")   #dictionary keys as list

print(f"values of student dictionary: {student.values()}") #dictionary keys as values

keys of student dictionary:dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])
values of student dictionary: dict_values(['Varshitha', 'Vadapally', 'female', 22, 'single', ['Quick learner', 'Positive Thinking', 'hardworking', 'Time management'], 'India', 'Nalgonda', 'VT Colony'])

In [12]:
print(f"keys of student dictionary:{student.keys()}")  
#dictionary keys as list

keys of student dictionary:dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])

In [13]:
print(f"values of student dictionary: {student.values()}") 
#dictionary keys as values

values of student dictionary: dict_values(['Varshitha', 'Vadapally', 'female', 22, 'single', ['Quick learner', 'Positive Thinking', 'hardworking', 'Time management'], 'India', 'Nalgonda', 'VT Colony'])

In [14]:
print(list(student.keys()))

['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address']

In [15]:
print(list(student.values()))

['Varshitha', 'Vadapally', 'female', 22, 'single', ['Quick learner', 'Positive Thinking', 'hardworking', 'Time management'], 'India', 'Nalgonda', 'VT Colony']

In [16]:
#Question:3
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
# Join brothers and sisters tuples and assign it to siblings
# How many siblings do you have?

brothers = ("Vedamsh", "Sai", "Harsha", "Harikesh")    #brothers tuple
sisters = ("Akshitha", "preethi", "bunny", "Spandana")  #sisters tuple

sisters

('Akshitha', 'preethi', 'bunny', 'Spandana')

In [17]:
brothers

('Vedamsh', 'Sai', 'Harsha', 'Harikesh')

In [18]:
siblings = brothers + sisters            #siblings tuple by adding
print(siblings)

('Vedamsh', 'Sai', 'Harsha', 'Harikesh', 'Akshitha', 'preethi', 'bunny', 'Spandana')

In [19]:
print(f"no of siblings: {len(siblings)}")             #number of siblings

no of siblings: 8

In [20]:
family_member = ()
family_member += siblings + ("Sridhar", "Saritha")
print("type: ",type(family_member))

type:  <class 'tuple'>

In [21]:
print("family member: ")
print(family_member)

family member:
('Vedamsh', 'Sai', 'Harsha', 'Harikesh', 'Akshitha', 'preethi', 'bunny', 'Spandana', 'Sridhar', 'Saritha')

In [22]:
#Question 4
#it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#A = {19, 22, 24, 20, 25, 26}
#B = {19, 22, 20, 25, 26, 24, 28, 27}
#age = [22, 19, 24, 25, 26, 24, 25, 24]
# Find the length of the set it_companies
# Add 'Twitter' to it_companies
# Insert multiple IT companies at once to the set it_companies
# Remove one of the companies from the set it_companies
# What is the difference between remove and discard
# Join A and B
# Find A intersection B
# Is A subset of B
# Are A and B disjoint sets
# Join A with B and B with A
# What is the symmetric difference between A and B
# Delete the sets completely
# Convert the ages to a set and compare the length of the list and the set

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
                'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [23]:
len(it_companies)              # length of set it_companies

7

In [24]:
it_companies.add("twitter")  #adding twitter
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [25]:
it_companies.update(['pwc', 'accenture', 'cognizant'])  # multiple it companies
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'accenture',
 'cognizant',
 'pwc',
 'twitter'}

In [26]:
it_companies.remove('twitter')                           #remove one company(which raises error)
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'accenture',
 'cognizant',
 'pwc'}

In [27]:
it_companies.remove('walmart')

KeyError: 'walmart'

In [28]:
it_companies.discard('walmart')

In [29]:
C = A.union(B)     #joining 2 sets A and B. It also removes duplicates
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [30]:
D=A.intersection(B)     #intersecting two sets
D

{19, 20, 22, 24, 25, 26}

In [31]:
A.issubset(B)          #Is A is subset of B

True

In [32]:
A.isdisjoint(B)          #Are A and B disjoint sets

False

In [33]:
A.update(B)             #inserting items from set B into set A
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [34]:
B.update(A)             #inserting items from set A into set B
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [35]:
A.symmetric_difference(B)

set()

In [36]:
del A                      #deleting the sets completely    
del B
del it_companies

In [37]:
A
B

NameError: name 'A' is not defined

In [38]:
print(age)
len(age)

[22, 19, 24, 25, 26, 24, 25, 24]

8

In [39]:
setage = set(age)
setage

{19, 22, 24, 25, 26}

In [40]:
len(setage)

5

In [41]:
len(age) == len(setage)

False

In [42]:
#Question 5
# The radius of a circle is 30 meters.
# Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
# Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
# Take radius as user input and calculate the area

radius=30                                       #taking radius as per input
area_of_circle=3.14*(radius**2)     # clculating area of circle
area_of_circle

2826.0

In [43]:
PI=3.14
circum_of_circle =2 * PI * radius    #calculating circumference of circle
circum_of_circle

188.4

In [44]:
rad= float(input("Enter a radius "))      #reading input from user
area = PI * rad * rad                    #formulae to calculate area of circle
area

Enter a radius 5

78.5

In [45]:
#Question 6
#“I am a teacher and I love to inspire and teach people”
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split(' ')          #Split function by default uses whiteSpaces as the separator in the string sentence
print(words)
unique_words=len(set(words))                #number of unique words in given string
print(f"number of unique words in the given string: ",unique_words )

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
number of unique words in the given string:  10

In [46]:
# Question 7
# Use a tab escape sequence to get the following lines.
#Name Age Country City
#Asabeneh 250 Finland Helsinki

print("Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t250\t\tFinland\t\tHelsinki")

# \t for tab space between words and \n is for next line

Name		Age		Country		City
Asabeneh	250		Finland		Helsinki

In [47]:
#Question 8
#Use the string formatting method to display the following:
#radius = 10
#area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

radius = 10
area = 3.14 * radius ** 2
print("radius = {radius}".format(radius=10))
print("area = {PI} * radius **2".format(PI=3.14))
print(f"The area of a circle with radius {radius} is {area} meters square.".format(radius=10, area=3.14*radius**2))

radius = 10
area = 3.14 * radius **2
The area of a circle with radius 10 is 314.0 meters square.

In [56]:
#Question 9
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]

#list of students weights
weight_lbs = [150, 155, 145, 148, 120, 130, 100]
weight_kgs = []

#converting weight to kgs
for x in weight_lbs:
    weight_kgs.append(x*0.453592)
print(f"weight in kgs: ",weight_kgs)

weight in kgs:  [68.0388, 70.30676, 65.77083999999999, 67.131616, 54.431039999999996, 58.96696, 45.3592]